Value Filldown FanId (FAN\d+)
Value FanNum (\S+)
Value Filldown Present (\w+)
Value Filldown Register (\w+)
Value Filldown Status (\w+)
Value Speed (\S+)
Value Filldown Mode (\w+)
Value Filldown Airflow_Direction (\S+)

Start
  ^Fan: -> Fan01
  
Fan01
  ^${FanId}\s+${FanNum}\s+${Present}\s+${Register}\s+${Status}\s+${Speed}\s+${Mode}\s+${Airflow_Direction} -> Continue.Record
  ^\s+${FanNum}\s+${Speed} -> Record