Value Interface (\S+)
Value PHY (\S+)
Value Protocol (\S+)
Value InUti (\S+\%)
Value OutUti (\S+\%)
Value inErrors (\d+)
Value outErrors (\d+)

Start
  ^${Interface}\s+${PHY}\s+${Protocol}\s+${InUti}\s+${OutUti}\s+${inErrors}\s+${outErrors} -> Record
  ^\s+${Interface}\s+${PHY}\s+${Protocol}\s+${InUti}\s+${OutUti}\s+${inErrors}\s+${outErrors} -> Record